*{
    margin: 0;
    padding: 0;
}

body{
   
    height: 790px;
    width: 860px;
    /*overflow: hidden; Hide scrollbars */
  background-image:radial-gradient(rgb(123, 171, 138) , rgb(1, 91, 1));
 /* background-image: url(bgi1.jpg);*/
}